.panelGridBorder {
    width: 100%;
}

.panelGridBorder, .ui-panelgrid tr,
.ui-panelgrid td {
    background: none;
    border-style: none !important;
}

.panelGridBorder,
.ui-panelgrid td {
    vertical-align: top;
}

.panelGridColumnAdmin {
	width: 20%;
}

.panelGridColumnProduits {
	width: 80%;
}